@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Montserrat&family=Ubuntu:wght@300&display=swap');

:root {
    --soft-white: #d2d2d2fb;
    --gentle-grey: #f1f1f1;

}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    
    
}

[src$=".jpg"]{
    width: 100%;
    vertical-align: bottom;
}

.image-logo-container {
    position: absolute;
    top: 30%;
    left: 0;
    background-color: #34343474;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.image-container {
    position: relative;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
}

.logo {
    width: 100px;
}

.logo-text {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 80px;
    color: var(--soft-white);
}

.right-side-information {
    background-color: var(--gentle-grey);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 60vw;
}

.form-container {
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #c4c4c4fb;
}

form {
    display: grid;
    font-size: 0.8rem;
    font-family: 'Ubuntu', sans-serif;
    
}

.sign-up-description-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}