@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Montserrat&family=Ubuntu:wght@300&display=swap');

:root {
    --white: #fffffffb;
    --gentle-grey: #fbfbfb;
    --blue: #083c6d;

}

body {
    display: flex;
    height: 100vh;
    margin: 0px; 
    max-width: 100%;
    overflow-x: hidden;
}

@media only screen and (max-width: 841px) {
    body {
        flex-direction: column;
    }
    body > div:last-child, body > div:first-child {
        width: 100%;
    }
    body div:first-child {
        height: 20rem;
    }

    .sign-up-description-container, .log-in-text {
        text-align: center;
    }
    
    button[type="submit"] {
        margin-left: 25%;
    }

    div.right-side-information > * {
        width: min(659px, 80%);
    }

    
}

[src$=".jpg"]{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.image-logo-container {
    position: absolute;
    top: 30%;
    left: 0;
    background-color: #00000075;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
}

.logo {
    width: 100px;
}

.logo-text {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 80px;
    color: var(--white);
}

.right-side-information {
    background-color: var(--gentle-grey);
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 8% 8% 0 6%;
    width: 60vw;
}

.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 1.8px 1.8px 1.8px 1.8px #c4c4c4fb;
    width: 100%;
}

form {
    display: grid;
    font-size: 0.75rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 17px 50px;
    width: 100%;

    
}

.sign-up-description-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    max-height: 200px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

legend {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.3rem;
    font-weight: bolder;
    align-self: center;
}

form input{
    width: min(25rem, 80%);
}

button {
    appearance: none;
    background-color: var(--blue);
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    border: none;
    border-radius: 10px;
    max-width: 12rem;
    padding: 14px 30px;
    margin-left: 17px;

}

.log-in-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    margin-left: 10px;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    text-decoration: underline var(--blue);
}