@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Montserrat&family=Ubuntu:wght@300&display=swap');

:root {
    --soft-white: #e7e7e7fb;
    --gentle-grey: #fbfbfb;

}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    
    
}

[src$=".jpg"]{
    width: 100%;
    vertical-align: bottom;
}

.image-logo-container {
    position: absolute;
    top: 30%;
    left: 0;
    background-color: #34343474;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.image-container {
    position: relative;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
}

.logo {
    width: 100px;
}

.logo-text {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 80px;
    color: var(--soft-white);
}

.right-side-information {
    background-color: var(--gentle-grey);
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 8% 8% 8% 6%;
    width: 60vw;
}

.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #c4c4c4fb;
    width: 100%;
}

form {
    display: grid;
    font-size: 0.75rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 17px 50px;
    width: 100%;

    
}

.sign-up-description-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

legend {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.3rem;
    font-weight: bolder;
    align-self: center;
}

form input{
    width: min(25rem, 80%);
}

